h1 {
    font-size: 40px;
    color: #1616f1;
}
p {
    text-align: justify;
    font-size: 16px;
    color: black;
}
body {
    background-color: rgba(255, 230, 234, 0.863);
}
fieldset {
    font-size: 16px;
    background-color: white;
}
footer {
    font-size: 16px;
    background-color: white;
}